@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url(./images/spices.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header {
    width: 100%;    
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#logo-name {
    font-size: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 15px 30px;
}

#nav-container{
    margin-left: 20px;
}

#search-bar{
    border-radius: 40px;
    height: 40px;
    width: 240px;
    padding: 0 15px;
    border: none;
    border: 2px solid #e0e0e0;
}

#nav-container ul{
    display: flex;
    flex-direction: row;
} 

nav ul li{
    list-style: none;
    margin: 0 10px;
    height: 40px;
    line-height: 20px;
}

.nav-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
}

.nav-link:hover,
.nav-link:active{
    background-color: #b8b8b8;
    color: white;
}

#home-screen{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

#home-screen img, #start-button{
    
}

#home-screen img {
    height: 350px;
    width: 350px;
    margin-left: 150px;
}

#start-button {
    color: black;
    width: 250px;
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 40px;
    box-shadow: none;
    border: solid #d8d8d8;
    margin-left: 200px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

